<div class="cafe">
  <br />
  <h4>Заказы</h4>
  <div class="button-group">
    <mat-button-toggle-group
      name="orders"
      aria-label="orders"
      [value]="selectedFilter"
    >
      <mat-button-toggle
        class="btn-red"
        (click)="getActive($event)"
        [value]="orderFilters[0]"
        >Активные</mat-button-toggle
      >
      <mat-button-toggle
        class="btn-red"
        (click)="getClosed($event)"
        [value]="orderFilters[1]"
        >Завершенные</mat-button-toggle
      >
      <mat-button-toggle
        class="btn-red"
        (click)="getAll($event)"
        [value]="orderFilters[2]"
        >Все</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <br />
  <div *ngIf="orders.length > 0; else ordersNotFound">
    <mat-accordion class="orders" *ngFor="let order of orders">
      <mat-expansion-panel
        hideToggle
        (opened)="openPanel(order.id)"
        (closed)="closePanel(order.id)"
        [expanded]="openedOrders.includes(order.id)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ order.name + " " + order.surname }}
          </mat-panel-title>
          <mat-panel-description>
            {{ order.phone }}
            <div class="orderDate">
              {{ order.orderDateTime | date: "d/M/yy, H:mm" }}
            </div>
            <div class="status">
              <div
                class="form-group"
                *ngIf="order.orderStatus !== 3; else closedStatus"
              >
                <select
                  class="form-control"
                  id="orderStatus"
                  [ngModel]="order.orderStatus"
                  #orderStatus
                  (change)="onChangeStatus(orderStatus.value, order.id)"
                  (click)="$event.stopPropagation()"
                  [ngStyle]="
                    selected
                      ? dropdownStyles[selected]
                      : dropdownStyles[order.orderStatus]
                  "
                >
                  <option [value]="statuses.New" class="green">Новый</option>
                  <option [value]="statuses.InProgress" class="orange">
                    Принят в обработку
                  </option>
                  <option [value]="statuses.AcceptedByCourier" class="blue">
                    Передан курьеру
                  </option>
                </select>
              </div>
              <ng-template #closedStatus>
                <div class="closed-order">Завершен</div>
              </ng-template>
              <div
                *ngIf="order.isOrderAccepted; else notResponded"
                class="responded"
                matTooltip="Курьер принял этот заказ."
                matTooltipPosition="above"
              >
                <mat-icon aria-hidden="false" aria-label="Waiting"
                  >check_circle_outline</mat-icon
                >
              </div>
              <ng-template #notResponded>
                <div
                  matTooltip="Курьер ещё не принял этот заказ. Нажмите, чтобы перенаправить заказ другому курьеру. Функция доступна раз в 2 минуты."
                  matTooltipPosition="above"
                  [ngClass]="
                    isCourierButtonAvailable
                      ? 'not-responded'
                      : 'not-responded-disabled'
                  "
                  (click)="onChangeCourier($event, order.id)"
                >
                  <mat-icon aria-hidden="false" aria-label="Waiting"
                    >schedule</mat-icon
                  >
                </div>
              </ng-template>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="order-info">
          <div>
            <b>Адрес:</b> г. {{ towns[order.town] }}, ул. {{ order.street }}, д.
            {{ order.houseNumber
            }}{{ order.flatNumber ? ", " + order.flatNumber : null }}
          </div>
          <div><b>Способ оплаты:</b> {{ paymentTypes[order.paymentType] }}</div>
          <div *ngIf="order.comment">
            <b>Комментарий:</b> {{ order.comment }}
          </div>
          <div>
            <b>Заказ:</b>
            <div class="dish" *ngFor="let dish of order.orderDishes">
              <div
                class="dish-icon"
                *ngIf="dish.dishIconUrl; else emptyImg"
                [ngStyle]="{
                  'background-image': 'url(' + dish.dishIconUrl + ')'
                }"
              ></div>
              <ng-template #emptyImg>
                <div class="empty-image"></div>
              </ng-template>
              <div>{{ dish.dishName }}</div>
              <div class="number-of-dishes">{{ dish.numberOfDishes }} шт.</div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template #ordersNotFound>
    <div class="not-found">Заказы не найдены</div>
  </ng-template>
</div>
