<div class="login">
  <div class="row" id="main-row">
    <div class="col">
      <img alt="" src="../../../assets/leaves.png" class="leaves-left" />
    </div>
    <div class="col-8">
      <br />
      <br />
      <div *ngIf="info" class="row">
        <div class="col"></div>
        <div class="col-7">
          <div class="alert alert-secondary" role="alert">
            <p>
              {{info}}
            </p>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-7">
          <form
            novalidate
            (ngSubmit)="onSubmit($event)"
            [formGroup]="loginForm"
            class="app-form"
          >
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="emailInput">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="emailInput"
                    required
                    formControlName="email"
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      email && email.invalid && (email.dirty || email.touched)
                    "
                    style="display: block;"
                    class="invalid-feedback"
                  >
                    Введите e-mail
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="emailInput">Пароль</label>
                  <input
                    type="password"
                    class="form-control"
                    id="passwordInput"
                    required
                    formControlName="password"
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      password &&
                      password.invalid &&
                      (password.dirty || password.touched)
                    "
                    style="display: block;"
                    class="invalid-feedback"
                  >
                    Введите пароль
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn-red btn btn-primary">Вход</button>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col">
      <img alt="" src="../../../assets/leaves.png" class="leaves-right" />
    </div>
  </div>
</div>
