.navbar {
  background-color: #f8f9fa !important;
  padding: 0.5rem 1rem;
  display: flex;
}

.brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  margin-left: calc(50% - 60px);
  margin-right: auto;
  display: inline-block;
}

.app-link a {
  color: rgb(235, 85, 85);
  display: block;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.app-link a:hover {
  color: rgb(235, 10, 10);
  text-decoration: underline !important;
}

.app-link a:focus {
  color: rgb(235, 10, 10);
  text-decoration: underline !important;
}
