.leaves-left {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
  width: 245px;
  height: 545px;
}

.leaves-right {
  border-width: 0px;
  position: absolute;
  right: 0px;
  top: 20px;
  width: 245px;
  height: 545px;
  transform: rotate(180deg);
}

#main-row {
  margin: 0;
  margin-bottom: 60px;
  min-height: 600px;
}
